*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: helvetica;
    width: 100%;
    overflow-x: hidden;
    
}
header{
    height: 100vh;
    width: 10em;
    background-size: cover;

}
. barre de navigation{
    position: fixe;
    Rembourrage: 10px;
    affichage: flex;
    justify-content: espace-entre;
    align-items: centre;
    Largeur: 100%;
    box-sizing:border-box ;
    couleur de fond: noir;
    Indice Z: 2;
}
. Barre de navigation A {
    couleur: blanc;
}
. barre de navigation . titre{
    font-size: 2em;
    font-weight: gras;
}
. barre de navigation . nav-links ul {
    affichage: flex;

}
Li{
    Rembourrage:0 px 40px;
    
}
. barre de navigation . nav-links ul li {
    Marge : 25px 0;
    font-size: 1.2em;
    texte-décoration: souligner;
    couleur: blanc;

}

. nav-links li:hover{
  transform: scale(1.3);
  Transition: tous les 0,3s de facilité d’entrée et de sortie;
}


    
}
body {
    font: 400 10px/1.4 "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
    background: linear-gradient(#0f58df42,#a3c2cc,lightgrey);
    
  }

  .images {
    display: flex;
  }
  
  .image {
    margin: 0;
    flex: 1;
    padding: 1rem;
    border:  solid #d8d8d8;
    background: #d8d8d8;
    box-shadow: 0 1px 5px rgba(0,0,0,.1)
  }
  
  .image + .image {
    margin-left: 10px;
  }
. Basdepage Pied de page{
  
  Rembourrage: 300 px 50 px 50 px  ;

  arrière-plan: noir;
  Flex-Grow: 1;
}

. Basdepage H1{
  couleur: blanc;
  font-size: 2em;
  affichage: flex;
  justify-content: centre;
  align-items: centre;
  position: relative;
  Top: -300px;
  font-size: 2em;
}
. py a{
  affichage: flex;
  justify-content: centre;
  align-items: centre;
  couleur: blanc;
  Marge : 20px  0 0 0 ;
  position: relative;
  Top: -300px;
  font-size: 1.2em;
  texte-décoration: souligner;


}
. Py A:Hover{
  transform: scale(1.3);
  Transition: tous les 0,3s de facilité d’entrée et de sortie;

}
. Condition H1{
  Marge : 20px  0 0 0 ;
  font-size: 2em;
}
. Condition A{
  position: relative;
  Top: -280px;
  affichage: flex;
  justify-content: centre;
  align-items: centre;
  couleur: blanc;
  Marge : 20px  0 0 0 ;
  font-size: 1.2em;
  texte-décoration: souligner;



}
. Condition A:Hover{
  transform: scale(1.3);
  Transition: tous les 0,3s de facilité d’entrée et de sortie;
}
. Visiter a {
  affichage: flex;
  justify-content: centre;
  align-items: centre;
  couleur: blanc;
  Marge : 20px  0 0 0 ;
  position: relative;
  Top: -260px;
  font-size: 1.2em;
  texte-décoration: souligner;


}
. Visiter h1{
  position: relative;
  Top: -280px;
  Marge : 20px  0 0 0  ;
  font-size:2em;

}
. Visiter a:hover{
  transform: scale(1.3);
  Transition: tous les 0,3s de facilité d’entrée et de sortie;
}
